.form-columns {
    display: grid;
    grid-template-columns: 38rem 16rem;
    gap: 2rem;
}

h1 {
    margin: 2.75rem 0 2rem 0;
}

.input {
    width: 38rem;
}

.column-right-form,
.buttons-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.img-book {
    background-color: gray;
    width: 15.625rem;
    height: 18.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 0;
}

button {
    margin: 2rem 1rem;
}

.date-delivery {
    margin-top: 2rem;
}

.p-mrg {
    margin-bottom: 0.625rem;
}
.form-field{
    width: 38rem;
}

@media (max-width: 1024px) {
    .form-columns {
        grid-template-columns: 70% 30%;
        gap: 0;
    }

    .form-field {
        width: 95%;
    }
    .input{
        width: 100%;
    }
    .img-book{
        width: 12rem;
        height: 15rem;
    }
    .bnt {
        margin: 1rem;
        width: 12rem;
    }
}

@media (max-width: 768px) {
    .form-columns {
        display: flex;
        flex-direction: column;
    }
    .h1{
        font-size: 1.6rem;
    }
    .form-field {
        width: 95%;
    }
    .input {
        width: 100%;
    }

    .img-book {
        width: 100%;
        height: auto;
    }

    h1 {
        margin: 2rem 0 1.5rem 0;
    }

    .bnt {
        margin: 1rem;
        width: 12rem;
    }
    .buttons-form{
        order: 2;
    }
    .column-right-form{
        order: 1;
    }
    
}

@media (max-width: 480px) {
    .form-columns {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .img-book {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 1.5rem;
        margin: 1.5rem 0 1rem 0;
    }

    button {
        margin: 1rem auto;
    }
}
