.form-register {
    display: grid;
    grid-template-columns: 27rem 27rem;
    gap: 2rem;
}

.width-one { width: 17rem; }
.f-width-one { width: 20rem; }
.width-two { width: 7rem; }
.f-width-two { width: 8rem; }

.form-field-two {
    display: grid;
    grid-template-columns: 17rem 8rem;
    gap: 2rem;
    position: relative;
}

.form-register-row {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

.form-field-three {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    gap: 1.4rem;
}

.width-three { width: 7.2rem; }
.f-width-three { width: 8rem; }

button { margin: 2.75rem 1rem; }
h1 { margin: 2.75rem 0 2rem 0; }

#description { height: 12.75rem; }

textarea::placeholder {
    font-family: var(--font-secudary);
    padding-top: 0.25rem;
}

input::placeholder {
    align-items: center;
    margin-top: 0.25rem;
}

.sidebarLibrary { display: block; }
