.form-register {
    display: grid;
    grid-template-columns: 27rem 27rem;
    gap: 2rem;
}
.form-field{
    width: auto;
}
.width-one { width: 17rem; }
.f-width-one { width: 20rem; }
.width-two { width: 7rem; }
.f-width-two { width: 8rem; }

.form-field-two {
    display: grid;
    grid-template-columns: 17rem 8rem;
    gap: 2rem;
    position: relative;
}

.form-register-row {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

.form-field-three {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    gap: 1.4rem;
}

.width-three { width: 7.2rem; }
.f-width-three { width: 8rem; }

button { margin: 2.75rem 1rem; }
h1 { margin: 2.75rem 0 2rem 0; }

#description { height: 12.75rem; }

textarea::placeholder {
    font-family: var(--font-secudary);
    padding-top: 0.25rem;
}

input::placeholder {
    align-items: center;
    margin-top: 0.25rem;
}

.sidebarLibrary { display: block; }

@media (max-width: 1024px) {
    .bnt {
        margin: 1rem;
        width: 12rem;
    }
}

@media (max-width: 768px) {
    .form-register {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
    }
    .form-register, .form-register-row, .column-left-form-register, .login-container-rigth{
        width: 35rem;
    }
    .form-field, .input-form{
        width: 35rem;
    }
    .form-field-three, .form-field-two{
        display: block;
    }
    .h1 {
        font-size: 1.6rem;
        margin: 2rem 0 1.5rem 0;
    }
    .bnt {
        margin: 1rem;
        width: 12rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .form-register {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .form-register, .form-register-row, .column-left-form-register, .login-container-rigth{
        width: 22rem;
    }
    .form-field, .input-form{
        width: 22rem;
    }
    .form-field-three, .form-field-two{
        display: block;
    }
    .h1 {
        font-size: 1.6rem;
        margin: 2rem 0 1.5rem 0;
    }
    .bnt {
        margin: 1rem;
        width: 20rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 425px){
    .form-register {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .form-register, .form-register-row, .column-left-form-register, .login-container-rigth{
        width: 21rem;
    }
    .form-field, .input-form{
        width: 21rem;
    }
    .form-field-three, .form-field-two{
        display: block;
    }
    .h1 {
        font-size: 1.6rem;
        margin: 2rem 0 1.5rem 0;
    }
    .form-label, input::placeholder{
        font-size: 0.8rem;
    }
    .bnt {
        margin: 0.5rem;
        width: 12rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 375px){
    .form-register {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .form-register, .form-register-row, .column-left-form-register, .login-container-rigth{
        width: 19rem;
    }
    .form-field, .input-form{
        width: 19rem;
    }
    .form-field-three, .form-field-two{
        display: block;
    }
    .h1 {
        font-size: 1.6rem;
        margin: 2rem 0 1.5rem 0;
    }
    .form-label, input::placeholder{
        font-size: 0.8rem;
    }
    .bnt {
        margin: 1rem;
        width: 12rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px){
    .form-register {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .form-register, .form-register-row, .column-left-form-register, .login-container-rigth{
        width: 14rem;
    }
    .form-field, .input-form{
        width: 14rem;
    }
    .form-field-three, .form-field-two{
        display: block;
    }
    .h1 {
        font-size: 0.4rem;
        margin: 2rem 0 1.5rem 0;
    }
    .form-label, input::placeholder{
        font-size: 0.8rem;
    }
    .bnt {
        margin: 0.5rem;
        width: 8rem;
        font-size: 0.8rem;
    }
}