### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
staticfiles/

### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Test reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Type checker
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
