<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "global/css/base.css" %}">
    <link rel="stylesheet" href="{% static "global/css/global.css" %}">
    <link rel="stylesheet" href="{% static "user/css/index.css" %}">
    <link rel="stylesheet" href="{% static "global/css/table.css" %}">
    <link rel="stylesheet" href="{% static "global/css/mediaqueries.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c10212071e.js" crossorigin="anonymous"></script>
    
    {% block extra_css %}

    {% endblock extra_css %}
    
    <title>BibliONteca</title>
</head>
<body>
    <div id='sidebar-menu' class="sidebar-menu bg-dark-blue">
        <div class="fixo" style="position: fixed;">
            <img class="sidebar-logo" src="{% static "global/imgs/logo.png" %}" alt="">

                <div id="sidebar-guest">
                    <div class="sidebar-options">
                        <div class="sidebar-item">
                            <div class="sidebar-item-icon">
                                <span class="material-icons icon">grid_view</span>
                            </div>
                            <div class="sidebar-item-link">
                                <a href="{% url 'user:home' %}" class="sidebar-link main-text white bold">Tela Inicial</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user_group == "Usuarios" %}
                    <div id="sidebar-user">
                        <div class="sidebar-options">
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <span class="material-icons icon">menu_book</span>
                                </div>
                                <div class="sidebar-item-link">
                                    <a href="{% url 'user:history' %}" class="sidebar-link main-text white bold">Empréstimos</a>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <i class="material-icons icon">logout</i>
                                </div>
                                <div class="sidebar-item-link">
                                    <form action="{% url 'user:logout' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="sidebar-link main-text white bold">Sair</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if user_group == "Bibliotecario" %}
                    <div id="sidebar-library">
                        <div class="sidebar-options">
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <span class="material-icons icon">grid_view</span>
                                </div>
                                <div class="sidebar-item-link">
                                    <a href="{% url 'library:home-lib' %}" class="sidebar-link main-text white bold">Tela Inicial</a>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <span class="material-icons icon">menu_book</span>
                                </div>
                                <div class="sidebar-item-link">
                                    <button id="toggle-book" class="sidebar-button main-text white bold">Livros</button>
                                </div>
                                <div class="dropdown-sub-menu" id="dropdown-book" style="display: none;">
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:loanBook' %}" class="sub-menu-link secundary-text white">Emprestar</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:returnBook' %}" class="sub-menu-link secundary-text white">Devolver</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:renewBook' %}" class="sub-menu-link secundary-text white">Renovar</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:registerBook' %}" class="sub-menu-link secundary-text white">Adicionar</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:listBooks' %}" class="sub-menu-link secundary-text white">Listar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <span class="material-icons icon">person</span>
                                </div>
                                <div class="sidebar-item-link">
                                    <button id="toggle-user" class="sidebar-button main-text white bold">Usuários</button>
                                </div>
                                <div class="dropdown-sub-menu" id="dropdown-user" style="display: none;">
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:registerUser' %}" class="sub-menu-link secundary-text white">Cadastro</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:listUser' %}" class="sub-menu-link secundary-text white">Listagem</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:pendenceUser' %}" class="sub-menu-link secundary-text white">Pendências</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <span class="material-icons icon">menu_book</span>
                                </div>
                                <div class="sidebar-item-link">
                                    <button href="" id="toggle-loan" class="sidebar-button main-text white bold">Empréstimos</button>
                                </div>
                                <div class="dropdown-sub-menu" id="dropdown-loan" style="display: none;">
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:allLoans' %}" class="sub-menu-link secundary-text white">Todos</a>
                                    </div>
                                    <div class="sub-menu-item">
                                        <span class="material-icons sub-icon">subdirectory_arrow_right</span>
                                        <a href="{% url 'library:pendencesBook' %}" class="sub-menu-link secundary-text white">Pendentes</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-icon">
                                    <i class="material-icons icon">logout</i>
                                </div>
                                <div class="sidebar-item-link">
                                    <form action="{% url 'user:logout' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="sidebar-link main-text white bold">Sair</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>     
                {% endif %}
        </div>     
    </div>

    <div class="button-wrapper">
        <button id="toggle" class="sidebar-button-toggle"><span id="button-togle-rotate" class="material-icons icon blue">chevron_left</span></button>
    </div>
    
    <div class="main-content">
        <div class="header-page">
            <div class="header-content">
                <div></div>
                <div class="user-content">
                    <a href="{% url 'user:notifications' %}">
                        <i class="header-icon-notifications fa-solid fa-bell" style="color: grey;"></i>
                    </a>
                    <a href="{% url 'user:profile-user' %}">
                        <div class="user-pic">
                            {% if request.user.foto_perfil %}
                                <img src="{{ request.user.foto_perfil.url }}" alt="Foto de perfil" class="user-pic-img">
                            {% else %}
                                <img src="{% static 'global/imgs/transferir.jpg'%}" alt="Foto padrão" class="user-pic-img">
                            {% endif %}
                        </div>
                    </a>
                    {% if request.user.nome %}
                        <p class="username secundary-text">{{ request.user.nome }}</p>
                    {% else %}
                        <p class="username secundary-text">Deslogado</p>
                    {% endif %}
                </div>
            </div>
            
            <div>
                <hr class="line-divider bg-dark-blue">
            </div>
        </div>
        <main> 
            {% block content %}
            {% endblock content %}
        </main>
        <footer style="text-align: center;">
            <div >
                <img class="sidebar-logo-footer" src="{% static 'global/imgs/logoBibliONteca.png' %}" alt="">
            </div>
            <hr class="line-footer bg-dark-blue">
            <p class="copyright" style="text-align: center;">@Copyright - Biblionteca</p>
        </footer>
    </div>

    <script type="module" src="{% static "global/js/dropdown_sidebar.js" %}"></script>
    <script type="module" src="{% static "global/js/toggle_sidebar.js" %}"></script>
    <script src="{% static 'global/js/masks.js' %}"></script>

    
</body>
</html>