<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "global/css/base.css" %}">
    <link rel="stylesheet" href="{% static "global/css/global.css" %}">
    <link rel="stylesheet" href="{% static "user/css/index.css" %}">
    
    <title>Document</title>
</head>
<body>
    <header>
        <!-- <div class="header-content">
            <div></div>
            <div class="user-content">
                <img src="{% static "global/imgs/icon-home.png" %}" alt="" class="header-icon-notifications">
                <div class="user-pic"></div>
                <p class="username secundary-text">NomeUser</p>
            </div>
        </div> -->
    </header>
    <div class="page-layout">
        <div class="siderbar-wrapper-fixed bg-dark-blue">
            <div class="sidebar-menu bg-dark-blue">
                <img class="sidebar-logo" src="{% static "global/imgs/logo.png" %}" alt="">
                {% block content-sidebar %}
                {% endblock content-sidebar %}
            </div>
        </div>
        <div class="main-content">
            <div class="header-page">
                {% block content-header %}
                    
                {% endblock content-header %}
            <div>
                <hr class="line-divider bg-dark-blue">
            </div>
            <main> 
                {% block content %}
                {% endblock content %}

            </main>
        </div>
    </div>
    <script type="module" src="{% static "global/components/lib.js" %}"></script>
</body>
</html>