html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 220px 24px auto;
    justify-items: center;
}

main {
    margin-top: 32px;
    width: auto;
    height: auto;
    justify-content: center;
    margin-bottom: 80px;
}

.content-width {
    width: 900px;
}

.sidebar-menu {
    width: 220px;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.sidebar-logo {
    height: 40px;
    width: 150px;
    padding: 40px 32px;
}

.sidebar-options {
    padding: 0 32px 20px 32px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 24px auto;
    margin: 10px;
}

.sub-menu-item {
    display: grid;
    grid-template-columns: 24px auto;
    margin-left: 4px;
}

.sub-menu-link,
.sub-icon {
    display: flex;
    align-items: center;
}

.sidebar-link,
.sidebar-button {
    text-decoration: none;
    margin-left: 8px;
    all: unset;
    margin-left: 8px;
    cursor: pointer;
}

.sidebar-item-link,
.sidebar-item-icon {
    display: flex;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-rows: 90px auto 150px;
    height: auto;
    margin: 0 44px 0 44px;
}

.header-page {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 18px;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 220px;

}

.user-content {
    display: grid;
    grid-template-columns: 24px 40px 148px;
    gap: 16px;
    align-items: center;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-pic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.line-divider {
    width: 100%;
    height: 1px;
    border-style: none;
    background-color: #457B9D;
}

.material-icons {
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.sub-icon {
    font-size: 20px !important;
    height: 24px;
    text-align: center;
}

.sidebar-item:hover .icon,
.sidebar-item:hover .sidebar-link,
.sidebar-item:hover .sidebar-button,
.sub-menu-item:hover .sub-menu-link {
    color: #457B9D;
}

.sub-menu-item:hover .sub-menu-item,
.sub-menu-item:hover .sub-icon {
    color: #457B9D;
}

.sidebar-logo-footer {
    height: 40px;
    width: 150px;
}

.line-footer {
    margin: auto;
    height: 1px;
    border-style: none;
    width: 100%;
    margin: 20px auto;
}

footer {
    width: 100%;
    height: auto;

}

.button-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: 50%;
}

.sidebar-button-toggle {
    background-color: transparent;
    height: 100%;
    width: 24px;
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    left: 220px;
}

@media (max-width: 1024px) {
    #sidebar-menu {
        display: none;
        position: fixed;
        z-index: 10;
    }

    .sidebar-button-toggle {
        left: 0;
        z-index: 10;
    }

    body {
        display: grid;
        grid-template-columns: 24px auto;
    }

    .main-content {
        position: absolute;
        left: 5%;
        right: 5%;
        grid-template-rows: 90px auto auto;
    }

    footer {
        margin-bottom: 12px;
    }
}

@media (max-width: 764px) {
    .username {
        display: none;
    }

    .user-content {
        display: grid;
        grid-template-columns: auto 50px;
    }

    .sidebar-logo-footer {
        width: 90px;
        height: 22px;
    }

    .line-footer {
        margin: 8px;
    }

    .copyright {
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .main-content{
        display: block;
        margin: 0 15px;
    }
}
@media (max-width: 350px) {

    footer,
    .header-content,
    .line-divider {
        display: none;
    }
}