@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis */
:root {
    --color-white: #F1FAEE;
    --color-dark-blue: #1D3557;
    --color-red: #D62828;
    --color-green: #43AA8B;
    --color-blue-active: #457B9D;
    --color-buttom: #F5F5F5;
    --color-border-input: #D3D3D3;
    --color-grey: #828282;
    --color-title: #264653;
    --color-primary: #4A4A4A;
    --color-yellow: #F77F00;

    --font-primary: 'Montserrat', sans-serif;
    --font-secudary: 'Roboto', sans-serif;

    --font-size-h1: 2.25rem;
    --font-size-h2: 1.875rem;
    --font-size-h3: 1.25rem;
    --font-size-main: 1.125rem;
    --font-size-secundary: 1rem;

    --button-width: 15rem;
    --button-height: 2.75rem;

    --form-width: 30rem;
    --form-height: 2.5rem;

    --border-radius: 0.3125rem;

    --font-bold: 500;
    --font-regular: 300;
}

/* Tipografia */
h1, h2, h3, p, a, ul {
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body, main {
    font-family: var(--font-secudary);
    background-color: var(--color-buttom);
    color: var(--color-primary);
}

.h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    color: var(--color-title);
}

.h2 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h2);
    color: var(--color-title);
}

.h3 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h3);
    color: var(--color-title);
}

.main-text { font-size: var(--font-size-main); }
.secundary-text { font-size: var(--font-size-secundary); }
.bold { font-weight: var(--font-bold); }
.regular { font-weight: var(--font-regular); }

/* Cores */
.white { color: var(--color-white); }
.red { color: var(--color-red); }
.yellow { color: var(--color-yellow); }
.green { color: var(--color-green); }
.blue { color: var(--color-blue-active); }
.grey { color: var(--color-grey); }
.dark-grey { color: var(--color-primary); }
.bg-dark-grey { background-color: var(--color-primary); }
.bg-dark-blue { background-color: var(--color-dark-blue); }
.bg-blue { background-color: var(--color-blue-active); }
.bg-red { background-color: var(--color-red); }
.bg-green { background-color: var(--color-green); }

/* Botões */
.bnt {
    width: var(--button-width);
    height: var(--button-height);
    border-style: none;
    border-radius: var(--border-radius);
    font-family: var(--font-primary);
    font-size: var(--font-size-main);
    font-weight: var(--font-bold);
    cursor: pointer;
}

.bnt-login-page { width: 22.5rem; }
.bnt-filter {
    height: 2.5rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

/* Formulários */
input, textarea {
    height: var(--form-height);
    width: var(--form-width);
    border-radius: var(--border-radius);
    border: solid 1px;
    margin: 0.625rem 0;
    background-color: var(--color-white);
    border-color: var(--color-border-input);
    color: var(--color-grey);
    padding-left: 0.625rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 30.9375rem;
}

label { text-align: left; }

span.alert { color: var(--color-red); }

.input-search {
    width: 25rem;
    border-radius: 0.75rem;
}

span { color: var(--color-red); }

.input-search { width: 21.875rem; margin: 0; }
.input-form { width: 26rem; }
.tx-center { text-align: center; }

input:focus, textarea:focus {
    border-color: var(--color-dar-blue);
    outline: none;
}
