/* Ajustes para o layout dos cards */
.book-carousel {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Alterado para grid igual à tela search */
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.book-card {
    width: 160px;
    height: 280px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card img {
    width: 95%;
    height: 190px;
    object-fit: contain;
    margin: 0 auto;
}

.book-card h3, .book-card p {
    margin: 0;
    font-size: 14px;
}

.book-card .stars {
    font-size: 16px;
}

.stars {
    color: gold;
    font-size: 20px;
}

/* Adicionando estilos para a linha de status igual à tela search */
.status-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D62828;
}

.status-label {
    font-size: 16px;
    color: #D62828;
    margin: 0;
}

.status-dot-green {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #43AA8B;
}

.status-label-disponivel {
    font-size: 16px;
    color: #43AA8B;
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .book-carousel {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.515625rem;
    }

    .h3 {
        font-size: 20px !important;
    }

    .book-card {
        width: 123.75px;
    }
}

@media (max-width: 480px) {
    .book-carousel {
        grid-template-columns: repeat(1, 1fr);
    }

    .h3 {
        font-size: 20px !important;
    }
}
