.book-section {
    margin-bottom: 2rem;
    margin-top: 0.75rem;
}

.book-section h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.book-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.6875rem;
    text-align: center;
    width: 137.5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.34375rem;
}

.book-card img {
    width: 100%;
    max-height: 178.75px;
    object-fit: cover;
    border-radius: 4px;
}

.book-card h3 {
    font-size: 0.6875rem;
    margin: 0.34375rem 0;
    line-height: 1.2;
    text-align: center;
}

.book-card .status {
    font-size: 0.55rem;
    margin: 0.34375rem 0;
    padding: 0.1375rem 0.34375rem;
    border-radius: 4px;
    white-space: nowrap;
}

.rating {
    font-size: 0.55rem;
    color: #ffc107;
}

.stars {
    color: gold;
    font-size: 15px;
}

.book-carousel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.6875rem;
    max-width: 825px;
    margin: 0 auto;
    padding: 0.6875rem;
}

@media (max-width: 1024px) {
    .book-carousel {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .book-carousel {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.515625rem;
    }

    .book-card {
        width: 123.75px;
    }
}
