{% extends "global/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'library/css/filter/filter.css' %}">
{% endblock %}
{% block content %}
<style>
    .main-content {
        width: 950px;
    }
</style>
{% include "library/messages/messages_sucess.html" %}
<div class="header-content-filter">
    <h1 class="h1 regular">Listagem dos Empréstimos</h1>
    <div class="content-filter-right">
        <button id="openFilterBtn" class="bnt bnt-filter bg-dark-blue white">
            Filtrar<i class="material-icons">filter_alt</i>
        </button>
    </div>
</div>
<div id="filterOverlay" class="filter-overlay hidden">
    <div class="filter-content">
        <button id="closeFilterBtn" class="close-btn">&times;</button>
        <h2 class="filter-title">Encontre seu Livro!</h2>
        <form id="filterForm" method="GET">
            <div class="form-group-row">
                <div class="form-group">
                    <label for="bookName">Nome do Livro:</label>
                    <input type="text" id="bookName" class="input-field" name="titulo" placeholder="Digite o nome do livro">
                </div>
            </div>
            <div class="form-group-row">
                <div class="form-group">
                    <label for="status">Status do Empréstimo:</label>
                    <select id="status" class="input-field" name="status">
                        <option value="">Selecione o Status</option>
                        <option value="atrasado">Em Atraso</option>
                        <option value="dentro_prazo">Dentro do Prazo</option>
                    </select>
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit" id="bnt-filtro" class="bnt bnt-filtro bg-dark-blue white">Filtrar</button>
            </div>
        </form>
    </div>
</div>

<table class="table-list bg-blue" style="width: 100%;">
    <thead>
        <tr>
            <th>Capa</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for emprestimo in emprestimos %}
        <tr>
            <td>
                {% if emprestimo.livro.capa %}
                <img src="{{ emprestimo.livro.capa.url }}" alt="{{ emprestimo.livro.titulo }}" class="table-img">
                {% else %}
                <span>Sem capa</span>
                {% endif %}
            </td>
            <td>{{ emprestimo.livro.titulo }}</td>
            <td>{{ emprestimo.livro.autor }}</td>
            <td>
                {% if emprestimo.data_devolucao %}
                Devolvido
                {% elif emprestimo.previsao_devolucao <= today %} 
                Pendente 
                {% else %} 
                Emprestado 
                {% endif %}
            </td>
            <td>
                <a href="{% url 'library:feedback-book' emprestimo.livro.id %}">
                    <i class="fa-regular fa-star" style="color: #43AA8B;"></i>
                </a>
                <a href="{% url 'user:solicitar-renovacao' emprestimo.id %}" class="btn-renovar"
                    style="background: none; border: none; cursor: pointer;">
                    <i class="fa-solid fa-repeat" style="color: #F77F00;"></i>
                </a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="tx-center">Nenhum empréstimo encontrado.</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<script> const userType = "user"; </script>
<script src="{% static 'js/filter.js' %}"></script>

{% endblock content %}