{% extends "global/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/filter.css' %}">
<link rel="stylesheet" href="{% static 'styles/home.css' %}">

{% endblock %}


{% block content %}
<div class="content-width">
    <div class="header-content-filter">
        <h1 class="h1 regular">Livros</h1>
        <div class="content-filter-right">
            <button id="openFilterBtn" class="bnt bnt-filter bg-dark-blue white">
                Filtrar<i class="material-icons">filter_alt</i>
            </button>
        </div>
    </div>
    <div id="filterOverlay" class="filter-overlay hidden">
        <div class="filter-content">
            <button id="closeFilterBtn" class="close-btn">&times;</button>
            <h2 class="filter-title">Encontre seu Livro!</h2>
            <form action="{% url 'user:pesquisa' %}" method="GET">
                <label for="categoria">Categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="">Todas as categorias</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if categoria.id == request.GET.categoria|default:'' %}selected{% endif %}>{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            
                <br>
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" id="titulo" placeholder="Digite o título..." value="{{ request.GET.titulo }}">
            
                <br>
                <label for="autor">Autor:</label>
                <input type="text" name="autor" id="autor" placeholder="Digite o autor..." value="{{ request.GET.autor }}">
            
                <br>
                <button type="submit" class="bnt bnt-filtro bg-dark-blue white">Pesquisar</button>
            </form>
            
        </div>
    </div>
    <div class="indicadores-line">
        <hr class="line-separator">
        <p class="indicadores-label">Indicadores:</p>
        <div class="status-wrapper">
            <span class="status-dot borrowed"></span>
            <p class="status-label">Indisponível</p>
            <span class="status-dot-green"></span>
            <p class="status-label-disponivel">Disponível</p>
        </div>
    </div>
    <p class="h3 bold">Recém-Chegados</p>
    <section class="book-section">
        <div class="book-carousel">
            <button class="carousel-btn prev-btn">❮</button>
            <div class="carousel-track">
                {% for livro in livros_chegados  %}
                    <a href="{% url 'library:detail-books' livro.id %}">
                        <div class="book-card">
                            {% if livro.disponivel %}
                                <div class="status-wrapper">
                                    <span class="status-dot-green"></span>
                                    <p class="status-label-disponivel">Disponível</p>
                                </div>
                            {% else %}
                            <div class="status-wrapper">
                                <span class="status-dot borrowed"></span>
                                <p class="status-label">Indisponível</p>
                            </div>
                            {% endif %}
                            <img src="{{livro.capa.url}}"
                                alt="Livro">
                                {% if livro.subtitulo %}
                            <p class="h3 bold">{{livro.titulo}} - {{livro.subtitulo}}</p>
                                {% else %}
                            <p class="h3 bold">{{livro.titulo}}</p>
                                {% endif %}
                            <p>{{livro.autor}}</p>
                            <div class="rating">
                                <span class="stars">★★★★☆</span>
                                <span class="review-count">(10)</span>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p class="h3 bold" >Nenhum livro encontrado.</p>
                {% endfor %}
            </div>
            <button class="carousel-btn next-btn">❯</button>
        </div>
    </section>
    {% for categoria, livros in livros_por_categoria.items %}
    <section class="book-section">
        <h2 class="category-title">{{ categoria }}</h2>
        <div class="book-carousel">
            <button class="carousel-btn prev-btn">❮</button>
            <div class="carousel-track">
                {% for livro in livros %}
                <a href="{% url 'library:detail-books' livro.id %}">
                    <div class="book-card">
                        {% if livro.disponivel %}
                                <div class="status-wrapper">
                                    <span class="status-dot-green"></span>
                                    <p class="status-label-disponivel">Disponível</p>
                                </div>
                            {% else %}
                            <div class="status-wrapper">
                                <span class="status-dot borrowed"></span>
                                <p class="status-label">Indisponível</p>
                            </div>
                            {% endif %}
                        <img src="{{ livro.capa.url }}" alt="Livro">
                        <p class="h3 bold">{{ livro.titulo }} - {{ livro.subtitulo }}</p>
                        <p>{{ livro.autor }}</p>
                        <div class="rating">
                            <span class="stars">★★★★☆</span>
                            <span class="review-count">(10)</span>
                        </div>
                    </div>
                   </a>
                {% endfor %}
            </div>
            <button class="carousel-btn next-btn">❯</button>
        </div>
    </section>
{% endfor %}
</div>
<script src="{% static '/js/filter.js' %}"></script>
<script src="{% static '/js/home.js' %}"></script>

{% endblock content %}