{% extends "global/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">

{% endblock %}

{% block content-sidebar %}<sidebar-user></sidebar-user>{% endblock content-sidebar %}

{% block content-header %} <header-home></header-home>{% endblock content-header %}

{% block content %}
<div class="header-content-filter">
    <h1 class="h1 regular">Livros</h1>
    <div class="content-filter-right">
        <button class="bnt bnt-filter bg-dark-blue white">Filtrar<i class="material-icons">filter_alt</i></button>
        <div class="input-coat">
            <input type="text" placeholder="Pesquisar" class="input-search">
            <i class="material-icons blue search-icon">search</i>
        </div>
    </div>
</div>
<div class="indicadores-line">
    <hr class="line-separator">
    <p class="indicadores-label">Indicadores:</p>
    <div class="status-wrapper">
        <span class="status-dot borrowed"></span>
        <p class="status-label">Emprestado</p>
        <span class="status-dot-green"></span>
        <p class="status-label-disponivel">Disponível</p>
    </div>
</div>
<p class="h3 bold">Recém-Chegados</p>
<section class="book-section">
    <div class="book-carousel">
        <button class="carousel-btn prev-btn">❮</button>
        <div class="carousel-track">
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
        </div>
        <button class="carousel-btn next-btn">❯</button>
    </div>
</section>
<p class="h3 bold">Livros mais bem avaliados</p>
<section class="book-section">
    <div class="book-carousel">
        <button class="carousel-btn prev-btn">❮</button>
        <div class="carousel-track">
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
        </div>
        <button class="carousel-btn next-btn">❯</button>
    </div>
</section>
<section class="book-section">
    <div class="book-carousel">
        <button class="carousel-btn prev-btn">❮</button>
        <div class="carousel-track">
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81rvO7xcJOL.jpg" alt="Livro">
                <p class="h3 bold">Harry Potter e as Relíquias da Morte</p>
                <p class="h3 bold"></p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL.jpg" alt="Livro">
                <p class="h3 bold">A Culpa é das Estrelas</p>
                <p>John Green</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/61GFsO7j0ZL._AC_UF1000,1000_QL80_.jpg" alt="Livro">
                <p class="h3 bold">Sherlock Holmes - Um estudo em vermelho</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
            <div class="book-card">
                <div class="status-wrapper">
                    <span class="status-dot-green"></span>
                    <p class="status-label-disponivel">Disponível</p>
                </div>
                <img src="https://cirandacultural.fbitsstatic.net/img/p/as-aventuras-de-sherlock-holmes-71488/258014.jpg?w=520&h=520&v=no-change&qs=ignore"
                    alt="Livro">
                <p class="h3 bold">Sherlock Holmes - As Aventuras de Sherlock Holmes</p>
                <p>J.K. Rowling</p>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="review-count">(10)</span>
                </div>
            </div>
        </div>
        <button class="carousel-btn next-btn">❯</button>
    </div>
</section>
<script src="{% static '/js/carousel.js' %}"></script>
<script> const userType = "user"; </script>

{% endblock content %}