{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/notification.css' %}">
{% endblock %}

{% block content-header %}
<div class="header-content">
    <div></div>
    <div class="user-content">
        <img src="{% static 'global/imgs/icon-home.png' %}" alt="" class="header-icon-notifications">
        <div class="user-pic"></div>
        <p class="username secundary-text">{{ request.user.nome }}</p>
    </div>
</div>
{% endblock content-header %}

{% block content %}
{% if notificacoes %}
{% for notificacao in notificacoes %}
<div class="notif-item">
    <div class="notif-title">
        <h4><span class="blue-circle">•</span>{{ notificacao.mensagem }}</h4>
    </div>
    <div class="sent">
        {% if notificacao.tipo == 'geral' or notificacao.tipo == 'pendencia' %}
        <i class="fa-solid fa-circle-exclamation" style="color: #D62828;"></i>
        {% elif notificacao.tipo == 'novidade' %}
        <i class="fa-regular fa-star" style="color: #43AA8B;"></i>
        {% endif %}
        <p>Recebida {{ notificacao.data_envio|timesince }} atrás</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>Você não tem notificações.</p>
{% endif %}
{% endblock content %}