{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/search.css' %}">

{% endblock %}

{% block content-sidebar %}<sidebar-user></sidebar-user>{% endblock content-sidebar %}

{% block content-header %} <header-home></header-home>{% endblock content-header %}

{% block content %} 
<style>
    .main-content {
        width: 950px;
    }
</style>

<main class="main-content">
    <div class="cabecalho">
        <h2>Resultados da pesquisa:</h2>
    </div>
    <section class="book-section">
        <div class="book-carousel">
            {% for livro in livros %}
            <a href="{% url 'library:detail-books' livro.id %}">
                <div class="book-card">
                    {% if livro.disponivel %}
                                <div class="status-wrapper">
                                    <span class="status-dot-green"></span>
                                    <p class="status-label-disponivel">Disponível</p>
                                </div>
                            {% else %}
                            <div class="status-wrapper">
                                <span class="status-dot borrowed"></span>
                                <p class="status-label">Indisponível</p>
                            </div>
                            {% endif %}
                    <img src="{{livro.capa.url}}"
                        alt="Livro">
                        {% if livro.subtitulo %}
                    <p class="h3 bold">{{livro.titulo}} - {{livro.subtitulo}}</p>
                        {% else %}
                    <p class="h3 bold">{{livro.titulo}}</p>
                        {% endif %}
                    <p>{{livro.autor}}</p>
                    <div class="rating">
                        <span class="stars">★★★★☆</span>
                        <span class="review-count">(10)</span>
                    </div>
                </div>
            </a>
            {% empty %}
                <p class="h3 bold" >Nenhum livro encontrado.</p>
            {% endfor %}
        </div>
    </section>
</main>
    <script> const userType = "user"; </script>
{% endblock content %}
