{% extends "global/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/detail.css' %}">
{% endblock %}
{% block content %}
<div class="content-detail">
    <img src="{% static 'books/img/capa-harry-potter.png' %}" alt="Capa do livro Harry Potter" class="book-cover">
    <div class="book-detail">
        <h1 class="h1">Harry Potter</h1>
        <h3 class="h3 bold">HARRY POTTER E O PRISIONEIRO DE AZKABAN</h3>
        <p class="h3 bold">J. K. Rowling</p>
        <p class="main-text">Ano: 2017 | Páginas: 352</p>
        <p class="main-text">ISBN: 9780751565362</p>
        <p class="main-text">Data de Publicação: 00/00/0000</p>
        <p class="main-text bold">Categorias:</p>
        <div class="categorias">
            <button class="bnt bnt-filter bg-dark-blue white">FICÇÃO</button>
            <button class="bnt bnt-filter bg-dark-blue white">ROMANCE</button>
        </div>
    </div>
</div>

<div class="text-synopsis">
    <h3 class="h3">Sinopse</h3>
    <hr>
    <p class="main-text">
        Sempre foi difícil ser Harry Potter, e não é muito mais fácil agora que ele é um funcionário sobrecarregado do
        Ministério da Magia, marido e pai de três filhos em idade escolar. Enquanto Harry lida com um passado que se
        recusa a
        ficar onde pertence, seu filho mais novo, Albus, precisa lutar com o peso de um legado familiar que ele nunca
        quis.
        À medida que passado e presente se fundem ameaçadoramente, pai e filho aprendem a verdade incômoda: às vezes, a
        escuridão vem de lugares inesperados.
        O roteiro de Harry Potter e a Criança Amaldiçoada foi originalmente lançado como uma "edição especial de
        ensaio"
        junto com a abertura da peça de Jack Thorne no West End de Londres no verão de 2016. Baseada em uma história
        original
        de J.K. Rowling, John Tiffany e Jack Thorne, a peça abriu para críticas arrebatadoras.
    </p>
</div>

<div class="comments-section">
    <h3 class="h3">Comentários (3)</h3>
    <hr>

    <div class="comment">
        <div class="comment-header">
            <img class="comment-author-image" src="{% static 'books/img/perfil.png' %}" alt="Imagem do autor">
            <p class="comment-author main-text bold">Gustavo Torres de Almeida</p>
            <span class="comment-rating">
                <span class="main-text bold">4.0</span>
                <span class="star-rating">★★★★☆</span>
            </span>
            <span class="comment-time secundary-text regular">2 meses atrás</span>
        </div>
        <p class="comment-text main-text">
            Esse livro me fez sentir um mestre na investigação.
        </p>
        <hr>
    </div>

    <div class="comment">
        <div class="comment-header">
            <img class="comment-author-image" src="{% static 'books/img/perfil.png' %}" alt="Imagem do autor">
            <p class="comment-author main-text bold">Gustavo Torres de Almeida</p>
            <span class="comment-rating">
                <span class="main-text bold">4.0</span>
                <span class="star-rating">★★★★☆</span>
            </span>
            <span class="comment-time secundary-text regular">2 meses atrás</span>
        </div>
        <hr>
    </div>
</div>


{% endblock %}